
  
  /* Mobile Devices (max-width 375px) */
  @media screen and (max-width: 375px) {
    .allsection {
        margin: 0px;
        padding: 0px;
    }

    .header {
        width: 100%;
    }
    .header__container{
        padding: 30px 32px;
        margin: 0px;
    }
    .header__links {
        display: none;
    }
    .onlimobile{
        display: block;
        min-width: 0px !important
    }
    .onlimobile i{
        color: #fff;
    }
    .header__hero {
        min-width: 100%;
    }
    .header__hero h1{
        font-size: 30px;
        display: table-caption;
    }


    /*feature section */
    .feature-section{
        margin-top:16px;
    }
    .feature-section img{
        width: 307px;
        height: 210px;
        margin: 37px;
    }
    .feature__description{
        right: 0px;
        bottom: 0px;
        padding: 0px;
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* .feature-section img {
        width: 273px;
        height: auto;
        margin: 50px;
    } */
    .feature__description__title {
        color: #000;
       
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;
    }
    .feature-section img {
        width: 307px;
        height: 210px;
        margin: 37px;
    }
    /*creation section */
    .creations-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        /* gap: 18px; */
        /* padding: 20px 55px 0px 0px; */
        
        margin: 0 0px 0 21px;
    }

   
   
    .creations__header {
        padding: 50px 0 30px 0;
        display: flex;
        justify-content: center;
    }
    .onlyDesktop{
        display: none;
    }
    
   

   .deep-earth{
    background-image: url(images/mobile/image-deep-earth.jpg);

  }

  .night-arcade{
    background-image: url(images/mobile/image-night-arcade.jpg);
   
  }

.soccer-team{
    background-image: url(images/mobile/image-soccer-team.jpg);
   
}
.grid{
    background-image: url(images/mobile/image-grid.jpg);
   
}
.from-above{
    background-image: url(images/mobile/image-from-above.jpg);
   
}
.pocket-borealis{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
   
}
.curiosity{
    background-image: url(images/mobile/image-curiosity.jpg);
   
}
.fisheye{
    background-image: url(images/mobile/image-fisheye.jpg);
   
}
.creations-grid-box{
    /* background-image: url(images/desktop/image-deep-earth.jpg); */
    background-repeat: no-repeat;
    width: 334px;
    height: 115px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
}


.footer__container {
    padding: 50px 0px;
    margin: 0px 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .footer__logo {
    margin-bottom: 30px;
    align-self: center;
    width: 200px;
    margin: 0 0 60px;
   }

   /* .footer__links__box {
   
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 60px;
  } */

  .footer__links__box {
   
    /* list-style: none; */
    display: grid;
    flex-direction: row;
    justify-content: center;
    
  }
  .footer__social {
    align-self: center;
    margin-top: 30px;

    
}
}
  


/* @media (max-width: 1024px) {
    .creations__grid {
        grid-template-columns: 50% 50%;
    }
    .footer__container {
        flex-direction: row;
    }
}
   */