*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}
/* global color classes */
.primaryWhite{
    color: #ffffff;
}

.primaryDarkGray{
    color: #8c8c8c;
}

.main{
    background-image: url(images/desktop/image-hero.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #00000066;
    padding: 30px 65px;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 60px 0px 60px;
    padding-bottom: 60px;
}

.onlymobile{
    display: none;
}
.mainLogo img{
    width: 160px;
}
.headerLinksBox{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}
.headerLinksItem a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}
.headerLinksItem a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.headerText{
    margin-top: 60px;
    width: 52%;
    border: 2px solid #ffffff;
    padding: 40px;
    margin: 60px 0px 0px 60px;
    text-transform: uppercase;
}
.headerText h1{
    font-size: 64px;
    font-weight: 300;
    color: #ffffff;
}
.break{
    display: none;
}

/* for js handling block  */


.mobile_headerLinksBox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5.5rem 0rem;

}
.mobile_headerLinksItem a {
    /* color: white; */
    text-decoration: none;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}


/* second section */
.SecondSection{
    display: flex;
    flex-direction: row;
    margin: 60px;
    padding: 60px;

}
.SecondImg{
    position: relative;
}
.secondText{
    background-color: #ffffff;
    width: 65%;
    position: absolute;
    bottom: -70px;
    right: -290px;
    padding: 100px 0px 70px 100px;

}
.secondText h3{
    font-size: 41.6px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 41px;

}
.secondText p{
    font-size: 14px;
    color: #8c8c8c;
    line-height: 1.5;
    font-weight: 400;
    width: 410px;
}

/* third section */

.creations {
    margin: 60px;
    padding: 60px;
}

.creations-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    gap: 18px;
    padding: 20px 55px 0px 0px;
}

.creations-grid-box {
    position: relative;
    height: 360px;
    overflow: hidden;
}

.creations-grid-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center bottom;
    transition: filter 0.3s ease-in-out;
}

.creations-grid-box:hover .creations-grid-image {
    filter: blur(4px);
}

.creations__grid__item__title {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #ffffff;
    max-width: 65%;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    z-index: 2;
    /* pointer-events: none; */
}

.creations__header {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

button, .button {
    border: none;
    cursor: pointer;
    position: relative;
    letter-spacing: 1.2px;
    border: solid 1px #000;
    text-transform: uppercase;
    padding: 7px 30px;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

button:hover {
    color: white;
    background-color: #000;
}

.creations__title {
    font-weight: 300;
    font-size: 33.6px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.mobile_creations__header {
    padding: 10px 0 70px 0px;
    display: flex;
    justify-content: center;
}

.onlymobile {
    display: none;
}

/* Background Images */
.deep-earth .creations-grid-image {
    background-image: url(images/desktop/image-deep-earth.jpg);
}

.night-arcade .creations-grid-image {
    background-image: url(images/desktop/image-night-arcade.jpg);
}

.soccer-team .creations-grid-image {
    background-image: url(images/desktop/image-soccer-team.jpg);
}

.grid .creations-grid-image {
    background-image: url(images/desktop/image-grid.jpg);
}

.from-above .creations-grid-image {
    background-image: url(images/desktop/image-from-above.jpg);
}

.pocket-borealis .creations-grid-image {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
}

.curiosity .creations-grid-image {
    background-image: url(images/desktop/image-curiosity.jpg);
}

.fisheye .creations-grid-image {
    background-image: url(images/desktop/image-fisheye.jpg);
}
.left-car .creations-grid-image {
    background-image: url(images/desktop/markus-spiske-2OCW4iBf2Vw-unsplash.jpg);
}
.car .creations-grid-image {
    background-image: url(images/desktop/joao-pedro-freitas-BeyRebTHcwE-unsplash.jpg);
}
.cruis .creations-grid-image {
    background-image: url(images/desktop/markus-spiske-zKvJXXbpsxI-unsplash.jpg);
}


/* footer */
.footer{
    background-color: #000;
    padding: 60px;
}
.footerText{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.footerLinksBox{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
}
.footerLinksItem a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}
.footerLinksItem a:hover{
color: white;
text-decoration: none;
font-weight: 300;
font-size: 16px;
border-bottom: 2px solid #fff;
padding-bottom: 5px;
}
.footer__social{
    display: flex;
    justify-content: end;
    gap: 12px;
}
.footer__social__item{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}
.footer__social__item:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.footerLoopstudios{
    text-align: end;
}


/* responsive footer */
.mobile_footer{
    background-color: #000;
    padding-top: 40px;
}

.mobile_footerText{
    display: flex;
    flex-direction: column;
      /* justify-content: space-between; */
      align-items: center;
      padding: 20px 0px;
      gap: 30px;
  }
  
  .mobile_footerLinksBox{
      display: flex;
      flex-direction: column;
      gap: 15px;
      list-style: none;
  }
  .moilbe_footerLinksItem a{
      color: white;
      text-decoration: none;
      font-weight: 300;
      font-size: 16px;
  }
  
  .mobile_footer__social{
      display: flex;
      justify-content: end;
      gap: 12px;
  }
  .mobile_footer__social__item{
      color: #fff;
      text-decoration: none;
  }
  .mobile_footerLoopstudios{
      text-align: end;
  } 

